*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.classpath
.project
.settings
systemhook
infer-out
md5_repeat_result.txt
name_repeat_result.txt
*.hprof
.python-version