<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.malin.receiver.plugin">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,HardcodedDebugMode,MissingApplicationIcon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receiver1"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.malin.receiver.plugin.Receiver1.action" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receiver2"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.malin.receiver.plugin.Receiver2.action" />
            </intent-filter>
        </receiver>
    </application>
</manifest>