<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malin.plugin.impl">

    <application>
        <activity
            android:name=".StubActivity"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".StubAppCompatActivity"
            android:theme="@style/AppCompatTheme" />
    </application>
</manifest>
